* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background-color: #232323;
    color: white;
    font-size: 16px;
}

/* TOP BAR */
#topBar {
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
    #topBar > .topBar-name {
        margin: 0;
        padding: 0 40px;
        font-size: 26px;
        display: inline;
        text-shadow: -2px 2px 0 #141414;
    }
    #topBar > .topBar-nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }
    #topBar > .topBar-nav--project {
        width: 40%;
        text-align: right;
    }
        #topBar .topBar-navItem {
            margin-right: 0.5em;
            display: inline;
            cursor: pointer;
        }

/* MAIN FRAME */
#mainFrame {
    padding-top: 40px;
}
#mainFrame,
#mainFrameContent {
    position: relative;
    height: 100%;
}
    #editorFrame {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 16px;
    }
    .showTest #editorFrame {
        right: 40%;
    }
#testFrame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    display: none;
}
.showTest #testFrame {
    display: block;
}
    #testReport {
        margin: 0;
        padding: 0.5em;
    }
        .test {
            list-style: decimal inside;
        }
            .test-result {
                font-weight: bold;
            }
                .test-result--ok {
                    color: yellow;
                }
                .test-result--error {
                    color: red;
                }
    #githubLink {
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;
        color: white;
    }
    .pictureContainer {
        text-align: center;
        margin-top: 1em;
    }